<!DOCTYPE html>
<html>
<head>
    <title>Mailing Details</title>
</head>
<body>
<h1>Настройки рассылки</h1>
<p>Время запуска: {{ mailing.start_date }}</p>
<p>Периодичность: {{ mailing.periodicity }}</p>
<p>Статус: {{ mailing.status }}</p>
<p>Сообщение: {{ mailing.message.subject }}</p>
<p>Пользователи:
<ul>
    {% for client in mailing.clients.all %}
    <li>{{ client.full_name }} ({{ client.email }})</li>
    {% endfor %}
</ul>
</p>
<a href="{% url 'newsletter:mailing_list' %}">Назад</a>
</body>
</html>
