{% extends "base.html" %}

{% block title %}Настройки рассылки{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Настройки рассылки</h3>
    </div>
    <div class="card-body">
        <p><strong>Время запуска:</strong> {{ mailing.start_date }}</p>
        <p><strong>Периодичность:</strong> {{ mailing.periodicity }}</p>
        <p><strong>Статус:</strong> {{ mailing.status }}</p>
        <p><strong>Сообщение:</strong> {{ mailing.message.subject }}</p>
        <p><strong>Пользователи:</strong></p>
        <ul>
            {% for client in mailing.clients.all %}
                <li>{{ client.full_name }} ({{ client.email }})</li>
            {% endfor %}
        </ul>
        <a href="{% url 'newsletter:mailing_list' %}" class="btn btn-secondary">Назад</a>
    </div>
</div>
{% endblock %}
