<!DOCTYPE html>
<html>
<head>
    <title>Mailings</title>
</head>
<body>
<h1>Рассылка</h1>
<a href="{% url 'newsletter:mailing_create' %}">Создать новую рассылку</a>
<ul>
    {% for mailing in mailings %}
    <li>
        <a href="{% url 'newsletter:mailing_detail' mailing.pk %}">{{ mailing.message.subject }}</a>
        <a href="{% url 'newsletter:mailing_update' mailing.pk %}">Настроить</a>
        <a href="{% url 'newsletter:mailing_delete' mailing.pk %}">Удалить</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>
