<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>
</head>
<body>
<h1>Сообщения</h1>
<a href="{% url 'newsletter:message_create' %}">Создать новое сообщение</a>
<ul>
    {% for message in messages %}
    <li>
        <a href="{% url 'newsletter:message_detail' message.pk %}">{{ message.subject }}</a>
        <a href="{% url 'newsletter:message_update' message.pk %}">Настроить</a>
        <a href="{% url 'newsletter:message_delete' message.pk %}">Удалить</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>
